@model IEnumerable<SocialBookmarking_FM.Models.Collection>

@{
    ViewData["Title"] = "View";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Table</title>
</head>
<body>
    <h1>My Collections</h1>
    <hr>
    <table>
        <tr id="header">
            <th>
                Collection
            </th>
            <th>
                Category
            </th>
            <th>
                Bookmark
            </th>
            <th></th>
        </tr>
        @foreach (var item in ViewBag.collection)
        {
            <tr>
                <td>
                    @item.col.Id
                </td>
                <td>
                    @item.cat.CategoryName
                </td>
                <td>
                    @item.bok.Title
                </td>
                <td>
                    <form class="form-inline" method="post" action="/BookmarkCollection/Delete/@item.bcid">
                        <button type="submit" class="nav-link btn btn-link text-dark">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
</body>
<style>
    body {
        padding: 0px;
        margin: 0;
        font-family: "Poppins", sans-serif;
    }

    .form-inline {
        margin-left: 21%;
    }

    table {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 0);
        border-collapse: collapse;
        width: 800px;
        height: 200px;
        border: 1px solid #bdc3c7;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    tr {
        transition: all .2s ease-in;
        cursor: pointer;
    }

    th,
    td {
        padding: 12px;
        max-width: 200px;
        text-align: center;
        vertical-align: text-top;
        word-wrap: break-word;
        border-bottom: 1px solid #ddd;
    }

    #header {
        background-color: #16a085;
        color: #fff;
    }

    h1 {
        font-weight: 600;
        text-align: center;
        background-color: #16a085;
        color: #fff;
        padding: 10px 0px;
    }

    p {
        font-weight: 600;
        text-align: center;
        background-color: #16A040;
        color: #fff;
        padding: 10px 0px;
    }

    tr:hover {
        background-color: #f5f5f5;
        transform: scale(1.02);
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
    }

    a {
        color: #000;
    }
</style>
