<ul class="navbar-nav">
    
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Bookmark/Index" title="ListBookmarks">List Bookmarks</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" href="/Category/Index" title="ListBookmarks">List Categories</a>
    </li>

</ul>